option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application
  "aws:elasticbeanstalk:application:environment":
    PIP_NO_CACHE_DIR: "1"

commands:
  01_delete_pip_cache:
    command: "rm -rf /root/.cache/pip"
    ignoreErrors: true
  02_clean_tmp:
    command: "rm -rf /tmp/*"
    ignoreErrors: true